@font-face {
    font-family: shadowlight;
    src: url(Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}

@font-face {
    font-family: cead;
    src: url(Caveat_Brush/CaveatBrush-Regular.ttf);
}

@font-face {
    font-family: wen;
    src: url(LXGW_WenKai_Mono_TC/LXGWWenKaiMonoTC-Bold.ttf);
}

body {
    background-image: url(images/download\ \(1\).jpeg);
    background-size: cover;
    background-repeat: no-repeat !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    height: 100vh;
    transition: all 0.3s ease-in-out;
}



#content {
    box-sizing: border-box !important;
    width: 43% !important;
    transition: all 0.4s ease-in-out;
    background-color: #dde5b6;
    box-shadow: 7px 7px 10px #3e5227;
    border-radius: 20px !important;
}

input{
    border-color: #3e5227 !important;
    padding: 5% 5% !important;
    transition: all 0.3s ease-in-out;
}

h4,
h5 {
    text-align: center !important;
    padding: 6% 0% !important;
    color: #3e5227 !important;
    font-family: shadowlight !important;
    font-weight: bold !important;
}

h5{
    border-bottom: 2.5px solid #3e5227;
}

h3{
    text-align: center;
    color: #3e5227 !important;
    font-family: shadowlight !important;
    font-weight: bold !important;
    
}

#btn {
    width: 65% !important;
    background-color: black !important;
    color: white !important;
    margin: 5% 17% !important;
    font-family: wen !important;
    border: none;
    border-radius: 4px !important;
    transition: all 0.3s ease-in-out;
}

#btn:disabled{
    width: 65% !important;
    background-color: #616156 !important;
    color: white !important;
    margin: 5% 17% !important;
    border: none;
    font-family: wen !important;
    border-radius: 4px !important; 
    transition: all 0.3s ease-in-out;
}

label {
    display: flex !important;
    justify-content: space-between !important;
    border: 1px solid #3e5227;
    border-radius: 30px !important;
    font-family: cead;
    color: #3e5227 !important;
    padding: 2% 3% !important;
    transition: all 0.3s ease-in-out !important;
}

label:hover{
    display: flex !important;
    justify-content: space-between !important;
    border: 1px solid #eceff0;
    background-color: #3e5227;
    color: #eceff0 !important;
    border-radius: 30px !important;
    padding: 2% 3% !important;
    transition: all 0.3s ease-in-out;
}

.theme {
    color: #006d77;
}

@media screen and (min-width: 0px) and (max-width: 379px) {
    #content {
        width: 88% !important;
    }
}

@media screen and (min-width: 380px) and (max-width: 475px) {
    #content {
        width: 75% !important;
    }
}

@media screen and (min-width: 476px) and (max-width: 767px) {
    #content {
        width: 58% !important;
    }
}

/* X  ------------ X ------------ X ------------- X */